---
title: Welcome to Middleman
---
<% content_for(:meta) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<div class="min-h-screen border-t-6 border-primary bg-pattern p-6 flex items-center justify-center">
  <div class="text-center">
    <h1><%= dato.homepage.title %></h1>
    <h2 class="text-grey"><%= markdown(dato.homepage.subtitle) %></h2>
    <p class="mt-6 mb-4 text-primary-light">Kickstart your next generation website now!</p>
    <a href="https://github.com/NeedBrainz/dmat" target="_blank" class="inline-block py-4 px-8 rounded-full border-4 border-primary text-primary no-underline font-bold text-xl hover:text-white hover:bg-primary">Github</a>
  </div>
</div>
