---
title: Welcome to Middleman
---
<% content_for(:meta) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<div class="min-h-screen bg-pattern p-6 flex items-center justify-center text-grey-dark">
  <div class="text-center">
    <h1 class="text-2xl md:text-3xl my-2"><%= dato.homepage.title %></h1>
    <h2 class="text-xl md:text-2xl text-grey my-2"><%= dato.homepage.subtitle %></h2>
    <a href="https://github.com/NeedBrainz/dmat" target="_blank" class="inline-block my-2 py-4 px-8 rounded-full border-4 border-grey-dark text-grey-dark no-underline font-bold text-xl hover:text-white hover:bg-grey-dark">Github</a>
  </div>
</div>
