---
title: Welcome to Middleman
---
<% content_for(:meta) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<div class="min-h-screen bg-pattern p-6 flex items-center justify-center text-grey-dark">
  <div class="text-center">
    <h1 class="text-xl md:text-3xl mb-2 font-hairline"><%= dato.homepage.title %></h1>
    <h2 class="text-lg md:text-2xl text-grey mb-6 font-hairline"><%= dato.homepage.subtitle %></h2>
    <a href="https://github.com/NeedBrainz/dmat" target="_blank" class="inline-block py-4 px-8 rounded-full border-2 border-grey-dark text-grey-dark no-underline font-normal text-lg hover:text-white hover:bg-grey-dark">Github</a>
  </div>
</div>
